.App {
  text-align: center;
}

#All {
  border: 1px solid #1100ab;
}

#loader {
  /* border: 5px solid lightgrey; */
  position: fixed;
  border-right-color: #1100ab;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 9%;
  left: 46%;
  animation: spin 1s ease infinite;
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  100%{
    transform: rotate(360deg)
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
